<%= turbo_frame_tag "modal" do %>
  <div class="fixed top-0 left-0 w-screen h-screen bg-sky-600 bg-opacity-80 flex" data-controller="turbo-modal" data-action="turbo:submit-end->turbo-modal#submitEnd">
    <div class="m-auto  align-middle w-fit h-fit bg-white opacity-100 rounded-lg z-50">
      <div class="flex  max-h-[40rem]">
        <div class="flex flex-col w-full">
          <button class="ml-auto pt-2 pr-2" data-action="turbo-modal#hideModal">
            <svg class="w-6 h-6 text-neutral-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
          <h2 class="text-center pb-3 border-b border-neutral-800 modal-header">Edit Job</h2>
          <%= render "jobs/edit_form" %>
        </div>
        <div class="flex flex-col border-l border-neutral-80 p-2 w-full">
          <%= link_to "Add Task", new_job_task_path(@job), class: "border text-center px-5 mb-3 whitespace-nowrap", data: { turbo_frame: "task_modal", action: "click->turbo-modal#temporaryToggleModal" } %>
          <ul id="tasks-list" class="overflow-y-auto scrollbar-hide">
            <% @job.tasks.each do |task| %>
              <%= render "tasks/task", task: task %>
            <% end %>
          <ul>
        </div>
      </div>
    </div>
  <div>
<% end %>
