<%= turbo_frame_tag "modal" do %>
  <div class="fixed top-0 left-0 w-screen h-screen bg-sky-600 bg-opacity-80 p-5 flex" data-controller="turbo-modal" data-action="turbo:submit-end->turbo-modal#submitEnd">
    <div class="align-middle w-full h-full bg-white opacity-100 rounded-lg z-50">
      <%= render "documents/edit_form" %>
    </div>
  <div>
<% end %>
